body {
  background: #273443;
}

.about-article {
  max-width: 925px;
  margin: 0 auto;
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
p {
  height: fit-content;
  padding: 5px;
  text-align: center;
  position: relative;
  top: 20vh;
  width: 400px;
  background-color: #ffd700;
  border: solid #236e96 3px;
  border-radius: 10px;
  color: rgb(77, 75, 75);
  font-family: "poppins", sans-serif;
  font-weight: 700;
  box-shadow: 0.5px 0.5px 2.5px #faf9f6;
}

.about-section {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 10px;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 5px;
}

.about-section :nth-child(1) {
  border: solid #15b2d3 2px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 1px 2px 5px #ffd700;
}

.about-section :nth-child(2) {
  border: solid #ffd700 2px;
  border-radius: 10px;
  position: relative;
  top: 50px;
  box-shadow: 1px 2px 5px #15b2d3;
}
.about-section :nth-child(3) {
  position: relative;
  border: solid #ffd700 2px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #15b2d3;
}
.about-section :nth-child(4) {
  border: solid #15b2d3 2px;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
  box-shadow: 1px 2px 5px #ffd700;
}

address {
  color: rgb(79, 78, 78);
  text-align: center;
  background-color: #ffd700;
  border: solid #236e96 3px;
  position: relative;
  font-size: 1.1rem;
  left: 100px;
  bottom: 45px;
  letter-spacing: 0.3em;
  border-radius: 10px;
  box-shadow: 2px 1px 6px #faf9f6;
}

.hours {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: relative;
  top: 60px;
  border: solid black 1px;
}

@media only screen and (max-width: 835px) {
  .about-article {
    display: flex;
  }
}
@media only screen and (max-width: 755px) {
  .about-section {
    display: grid;
    grid-column: span 1;
  }
}
