.menu-header h2 {
  text-align: center;
  color: #faf9f6;
  letter-spacing: 0.8rem;
  font-family: "Margarine", sans-serif;
  text-shadow: 1px 1px 3.5px #15b2d3;

  position: relative;
  bottom: 30px;
}
.menu-header h2 :nth-child(1) {
  text-decoration: overline #ffd700;
}
.menu-header h2 :nth-child(2) {
  text-decoration: underline #ffd700;
}

.menu-items {
  display: grid;
  margin: 0 auto;
  max-width: 925px;
  height: 450px;
  padding-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.menu-items .items {
  display: grid;
  text-align: center;
  border: #faf9f6 solid 2px;
  border-radius: 5px;
  background: #236e96;
  overflow: hidden;
  box-shadow: 1px 2px 5px #ffd700;
}

.menu-header {
  height: fit-content;
  margin-top: 10px;
  position: relative;
  top: 20px;
  font-family: "Margarine", sans-serif;
  color: #ffd700;
  text-shadow: 1px 1px 1.5px #faf9f6;
  letter-spacing: 0.4em;
}

.menu-list-display {
  color: #faf9f6;
  font-family: "poppins", sans-serif;
  font-size: 12.5px;
  margin: 0;
}

.menu-list-gap {
  margin-top: 25px;
}

span {
  color: #ffd700;
  padding-left: 2.5px;
}
