* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-bar {
  background: #236e96;
  border-bottom: #ffd700 solid 1px;
  border-top: #ffd700 solid 1px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav-bar h1 {
  color: #faf9f6;
  letter-spacing: 0.2rem;
  font-family: "Margarine", sans-serif;
}
.nav-bar h1:hover {
  color: #ffd700;
  cursor: pointer;
}

nav {
  max-width: 840px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #faf9f6;
  font-family: "Poppins", sans-serif;
}

.nav-bar a:hover {
  color: #ffd700;
}
