.vibez-grid-container {
  display: grid;
  max-width: 825px;
  margin: 0 auto;
  height: 375px;
  border-left: solid #ffd700 3px;
  border-right: solid #236e96 3px;
  border-top: #faf9f6 solid 3px;
  border-bottom: #faf9f6 solid 3px;
  background: linear-gradient(
    to right,
    #236e96 0%,
    #236e96 50%,
    #ffd700 50%,
    #ffd700 100%
  );
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ffd700;
}
.vibez-grid-container h2 {
  display: grid;
  color: #faf9f6;
  justify-items: center;
  font-weight: 800;
  font-family: "Margarine", sans-serif;
  letter-spacing: 0.3rem;
  text-shadow: 1px 3px 3px #236e96;
}
.vibez-grid-container ul {
  display: grid;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  /* background: #faf9f6; */
  height: 255px;
  border-radius: 10px;
}

.vibez-grid-container li {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: #236e96;
}

.vibez-grid-container li :nth-child(1) {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
  margin-top: 2px;
  font-size: 1.1em;
  color: #236e96;
  text-decoration: underline #236e96;
  text-shadow: 1px 1px 1.5px #faf9f6;
}

.vibez-grid-container li :nth-child(2) {
  text-shadow: #236e96;
  font-family: "Margarine", sans-serif;
  letter-spacing: 0.4em;
  margin-top: 5px;
  font-size: 1.1em;
  color: #faf9f6;
  text-shadow: 1px 3px 3px #236e96;
}
.vibez-grid-container li :nth-child(3) {
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
  font-size: 1.1em;
  color: #faf9f6;
  text-shadow: 1px 1px 1.5px #236e96;
}
