.vibez-grid-container {
  max-width: 725px;
  margin: 0 auto;
  height: 375px;
  border: solid black 2px;
  background: #ffd700;
  border-radius: 10px;
}
.vibez-grid-container h2 {
  display: grid;
  color: #236e96;
  justify-items: center;
  font-family: "Margarine", sans-serif;
  letter-spacing: 0.3rem;
  text-shadow: #faf9f6;
}
.vibez-grid-container ul {
  display: grid;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  background: #faf9f6;
  height: 225px;
}

.vibez-grid-container li {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: #236e96;
}
.vibez-grid-container li :nth-child(1) {
  margin-top: 20px;
  color: red;
}
.vibez-grid-container li :nth-child(3) {
  margin-bottom: 45px;
  color: red;
}
